
<html>
    <head>
     <script src=
     "//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js">
     </script>
     <title>angular.equals()</title>
     </head>
      
    <body ng-app="app" style="text-align:Center">
      <h1 style="color:green">GeeksforGeeks</h1>
      <h2>angular.equals()</h2>
      
    <div ng-controller="geek">
      Input A: <textarea ng-model="val1" ng-change="check()" ></textarea>
      <br /><br>
      Input B: <textarea ng-model="val2" ng-change="check()" ></textarea>
      <br /><br>
      {{msg}}
    </div>
      
      <script>
      var app = angular.module("app", []);
      app.controller('geek', ['$scope', function ($scope) {
        $scope.val1 = 0;
        $scope.val2 = 0;
        $scope.check = function () {
          if (angular.equals($scope.val1, $scope.val2))
            $scope.msg = "Input values are equal.";
          else
            $scope.msg = "Input values are not equal.";
          }
        }]);
      
    </script>
    </body>
    </html>