<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    
</head >
<body ng-app="app" ng controller="controller">
    <textarea  ng-model="val1" ng-change="check()" cols="30" rows="10"></textarea>
    <textarea  ng-model="val2" ng-change="check()" cols="30" rows="10"></textarea>
    <p>{{msg}}</p>


    <script >
      let app = angular.module('app',[]);
      app.controller('controller', function($scope){
          
      });
    </script>
</body>
</html>